<a href="@($"/podcasts/{Item.Id}")"
   class="flex items-center gap-x-3 rounded bg-muted p-2 transition hover:bg-muted-dark">

    <img class="size-12 rounded object-cover"
         src="@Item.Image"
         alt="@(Item.Title)'s image" />

    <div class="min-w-0 flex-1 space-y-1">
        <h3 class="truncate text-sm font-semibold">
            @Item.Title
        </h3>
        <p class="truncate text-xs opacity-75">
            @Regexes.GetHtmlTags().Replace(Item.Description, "")
        </p>
    </div>

</a>

@code
{
    [Parameter, EditorRequired] public PodcastSummary Item { get; set; } = default!;
}