<a @key="Podcast.Id" href="@($"/podcasts/{Podcast.Id}")" class="w-24 shrink-0 space-y-2">

    <img class="size-24 rounded-md object-cover"
         src="@Podcast.Image"
         alt="@(Podcast.Title)'s image" />

    <div class="space-y-1">
        <h3 class="truncate text-sm font-semibold">
            @Podcast.Title
        </h3>
        <p class="truncate text-xs opacity-75">
            @Podcast.Author
        </p>
    </div>

</a>

@code
{
    [Parameter, EditorRequired]
    public PodcastSummary Podcast { get; set; }
}