@using Client.Components.Pages.Home.Shared.Skeletons

@inject PodcastIndexClient Client

<section class="space-y-3">

    <h2 class="text-lg font-bold tracking-tight text-foreground">
        Trending from Monday
    </h2>

    <Loadable Loader="LoadTrendingsAsync">
        
        <Loading>
            <TrendingSkeleton />
        </Loading>

        <ChildContent Context="trendings">
            <div class="no-scrollbar flex gap-3 overflow-x-auto">
                @foreach (var item in trendings)
                {
                    <a @key="item.Id"
                       href="@($"/podcasts/{item.Id}")"
                       class="w-24 shrink-0 space-y-2">

                        <img class="size-24 rounded-md object-cover"
                             src="@item.Image"
                             alt="@(item.Title)'s image" />

                        <div class="space-y-1">
                            <h3 class="truncate text-sm font-semibold">
                                @item.Title
                            </h3>
                            <p class="truncate text-xs opacity-75">
                                @item.Author
                            </p>
                        </div>

                    </a>
                }
            </div>
        </ChildContent>

    </Loadable>
</section>

@code 
{
    private async Task<IEnumerable<PodcastSummary>> LoadTrendingsAsync(CancellationToken ct)
    {
        var response = await Client.Podcasts.TrendingAsync(
            new TrendingRequest { Max = 12, Since = GetLastMonday() },
            ct);

        return response.Searches;
    }

    public static DateTime GetLastMonday(bool includeToday = true)
    {
        DateTime today = DateTime.Now;
        int diff = (7 + (today.DayOfWeek - DayOfWeek.Monday)) % 7;

        if (!includeToday && diff == 0)
            diff = 7;

        return today.AddDays(-diff).Date;
    }
}